<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="css/renponsatividade.css">
    <link rel="stylesheet" href="css/styler.css">
    <title>teste</title>
</head>
<body>
    <h1 id="ad">Adega VT</h1>
    <nav class="dp-menu">

        <ul>
            <li>
                <a
                    href="#">home</a>
            </li>
            <li><a href="http://localhost:3000/produtos"> Produtos</a>

                <ul>
                    <li><a
                            href="#">Cervejas</a>
                    </li>
                    <li><a
                            href="#">Vinhos</a>
                    </li>
                    <li><a
                            href="#">Cigarros</a>
                    </li>
                    <li><a href="#">Drinks</a></li>
                    <li><a
                            href="#">Narguilé</a>
                    </li>
                    <li><a href="#">Lanches </a></li>
                    
                </ul>
            </li>
            <li><a href="#">Carrinho <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></a></li>
            <li><a href="http://localhost:3000/adicionar">Adicionar Produtos</a></li>

        </ul>
    </nav>

    <div id="quadroPrinc"></div>






  
    <div class="container"> 
         <div class="container2"> 
      <div  id="teste" onclick="msg()" class="base"><img class="  item3 img1 " src="/css/he.jfif"> </div>
        <div id="teste2" class="base2" onclick="msg2()" ><img class=" item3 img2" src="/css/nar3.jpg" ></div>
        <div id="teste3" onclick="msg3()" class="base"><img class="  item3 img3" src="/css/cj1.jfif"></div> 
        <div id="teste4" onclick="msg4()" class="base">  <img class="  item4 img1" src="/css/ess.jfif" ></div>
      </div>  
      
    </div>
  

<!-- Parte que mostra a os valores, e a quantidade de produtos,  podendo adicionar ao carrinho -->
<footer class="con-exclusivo" id="segunda-tela">
    <img  class="ft-teste"src="css/he.jfif">
    <h3 onclick="fechar()" id="back">x</h3>
     <div class="info"><h3 class="titu">Heineken</h3> 
        <p class="p">350 ml</p>
         <p class="p">unidade 7,00 R$</p> 
        <p class="p">fardo 40 R$</p>
       <button id="btn-menos">-</button><input id="inp" type="number" placeholder="Quantidade "><button id="btn-mais">+</button>
        <p>Valor total  R$ ____</p>
        <button class="btn">Adicionar ao <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></button> 
    </div>
</footer>
<!-- Segundo footer, aonde será mostrado o segundo produto -->


<footer class="footer2" id="footer2">
    <img  class="produto2"src="../css/nar3.jpg">
    <h3 onclick="fechar2()" id="back">x</h3>
     <div class="informacoes2"><h3 class="titulo">Narguilé</h3> 
        <p class="p">Camaleão</p>
         <p class="p"> 300,00 R$</p> 
    
        <button class="btn2">Adicionar ao <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></button> 

    </div>
</footer>

<!-- terceiro produto -->

<footer class="footer3" id="footer3">
    <img  class="produto3"src="../css/cj1.jfif">
    <h3 onclick="fechar3()" id="back">x</h3>
     <div class="informacoes3"><h3 class="titulo">Brahma</h3> 
        <p class="p">300ML</p>
         <p class="p"> 4,00R$ unidade</p> 
         <p class="p"> 25,00R$ fardo</p> 
         <button id="btn-menos">-</button><input id="inp3" type="number" placeholder="Quantidade "><button id="btn-mais">+</button>
    
        <button class="btn3">Adicionar ao <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></button> 

    </div>
</footer> 

<!-- quarto e ultimo produto -->
<footer class="footer4" id="footer4">
    <img  class="produto4"src="../css/ess.jfif">
    <h3 onclick="fechar4()" id="back">x</h3>
     <div class="informacoes3"><h3 class="titulo">Essencia</h3> 
        <p class="p">Zomo</p>
         <p class="p"> 10,00R$</p> 
         <button id="btn-menos">-</button>
         <input id="inp4" type="number" placeholder="Quantidade ">
         <button id="btn-mais">+</button>
    
        <button class="btn4">Adicionar ao <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></button> 

    </div>
</footer>


<script src="./script/script.js"></script>
    

</body>
</html>