
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo:rgb(50, 71, 63);
    --cor-hover:rgb(19, 122, 83);
    --cor-primaria:rgb(195, 219, 210);
}
.dp-menu{
    margin-bottom: 10px;
}
.dp-menu ul{
    list-style-type: none;
    padding:  0;

}
.dp-menu ul{
    width: 100%;
    background-color: var(--cor-fundo);


}
   
.dp-menu ul li{
    display: inline;
    position:relative;
}

.dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: backgroud .3s ;
   
}
.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
   
}
/* Sub Menu*/
.dp-menu ul ul{
    display: none ;
    left: 0;
    position: absolute;
   
}

.dp-menu ul li:hover ul{
    display: block ;
    

}
.dp-menu ul ul {
    width: 150px;
    
}
.dp-menu ul ul li a {
    display: block;

}
#ad{
    color: var(--cor-hover);
    text-align:center;
    margin: 20px;
}
#ad2{
    color: var(--cor-hover);
    text-align:center;
}

h2{
    text-align: center;
    color: var(--cor-hover);

}

.pr{
    color: white;
    
}

#tex{
    display: block;
    
}
.hearder{
    text-align: center;
    
}

/* a parte de picture começo a cuidar da image que vai ser
 adicionada, na pagina de adição de produtos */

.picture__input{
    display: none;
}
.picture{
    width: 300px;
     aspect-ratio: 16/9;   /*assim a imagem fica com um aspecto de video */
    background-color: rgb(199, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(86, 90, 87);
    border: 2px dashed ;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out ;
}
.picture:hover{
 color: rgb(53, 53, 114);
 background-color: rgb(192, 188, 188);
}
.picture__img{
    max-width: 100%;
    
}
#bts{
    background-color: rgb(252, 252, 252);
    width: 70px;
    height: 30px;
    border-radius: 10px;
    position:absolute;
   right: 10px;
   bottom: 10px;
}
#base{
    border-radius: 10px;
    width: 500px;
    height: 470px;
    background-color: rgb(113, 126, 121);
    display: inline-block;
position: absolute;
left: 30%;
top:25%;
}
.field{
    background-color: rgb(255, 255, 255);
    color: var(--cor-fundo);
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size:medium;
    margin: 10px;
}
