<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carrinho.css">
    <title>Carrinho</title>

</head>
<body>
    <h1 id="ad">Adega VT</h1>
    <nav class="dp-menu">

        <ul>
            <li>
                <a
                    href="http://localhost:3000/home">home</a>
            </li>
            <li><a href="http://localhost:3000/produtos"> Produtos</a>

                <ul>
                    <li><a
                            href="#">Cervejas</a>
                    </li>
                    <li><a
                            href="#">Vinhos</a>
                    </li>
                    <li><a
                            href="#">Cigarros</a>
                    </li>
                    <li><a href="#">Drinks</a></li>
                    <li><a
                            href="#">Narguilé</a>
                    </li>
                    <li><a href="#">Lanches </a></li>

                </ul>
            </li>
            <li><a href="http://localhost:3000/adicionar">Carrinho <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></a></li>
            <li><a href="http://localhost:3000/home">Quem somos</a></li>
            <li><a href="#">Adicionar Produto</a></li>
        </ul>
    </nav>
    
    <h1 class="hearder">Carrinho <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB50lEQVQ4jZWS3UsUURjGn/fM7K59IkhgUUZbEIGIi3hTN133R3QREnZRIMHSh0F4I5QGCgXZTR/0N3TXjRdBlixGoja7tIWFm1qzs3Nmdpzzvl1ksdO2mi8cHjjveX68H4cuPL7+jsJUt1VunyfQwMPRoVfYQSgwIG0bcxB1WyDPAaGdABKPLw6Pm42u76uUYscIzwuzI5CSEqvEmXjh2fkxf2vAyN3qkVP79x04vBu1QKPq+5GrdaRDbdXjuM1W1rpS6pMxZsEIL4KpaCcb4nLkm+7swUO/b9KbB4YZXqA7fB101AKdW3F/1Je/rfiq0W+IC9W1KAaAuZKDRn3/sYT2PXux5rk42XUUxzo7M5ZSywkAAdNhzdAvYxFbqacDsMhSApCW9AsOlWUMtxr6n6gFfhTHspgAPBi++pks5krFQ0/2OAC0VFf7IUHKCQAAIMVu5auLnuyJTUOzhlGE9aqXFkLB/tsvSpwl50vuQ62oW5UfG2Nbih49HbjzuglAQeoJ/NTqVP7muW0HAaCpBQZNg3Bm8Np47n8A//z3l25NvGSDs4pAhpMbUUpBBMa26d79kSv5phYAQAxO9/f10sxsIZwaHdrVmBu8MRH29/VmZmYLlwHkm7cAwLJp8s3bQt2y1eR2uZ+un/DXvOoyPAAAAABJRU5ErkJggg=="></h1>

    <div id="carrinho"></div>
</body>
</html>